@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans", sans-serif;
}
main {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
main.active {
    background-color: #ebfff6;
}
.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > img {
    width: 80%;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.theme {
    margin-bottom: 2rem;
    width: 55px;
    height: 26px;
    border: 2px solid #77ffc0;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
main.active .theme {
    border: 2px solid #C6B5F6;
}
.theme i {
    margin-inline: 3px;
    color: #77ffc0;
    cursor: pointer;
}
.theme i:first-child {
    transition: 0.2s;
}
main.active i:first-child {
    color: transparent;
    cursor: inherit;
}
.theme i:last-child {
    color: transparent;
    cursor: inherit;
    transition: 0.2s;
}
main.active i:last-child {
    color: #a791e4;
    cursor: pointer;
}

.card-login {
    background-color: #2f2841;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
main.active .card-login {
    background-color: #C6B5F6;
}
.card-login > h1 {
    font-size: 1.5rem;
    color: #00ff88;
    font-weight: 800;
}
main.active .card-login > h1 {
    color: white;
}
.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
}
.textfield-02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2.5rem;
}
.textfield > input, .textfield-02 > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 1rem;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > input::placeholder,
.textfield-02 > input::placeholder {
    color: #f0ffff94;
}
main.active .textfield > input::placeholder,
main.active .textfield-02 > input::placeholder {
    color: white;
}
.textfield > label {
    font-size: 1rem;
    color: #f0ffffde;
    margin-bottom: 10px;
}
.textfield-02 > label {
    font-size: 1rem;
    color: #f0ffffde;
    margin-bottom: 10px;
}
main.active .textfield > label,
main.active .textfield-02 > label {
    color: white;
}
.textfield {
    margin-bottom: 2rem;
}
.btn-login {
    width: 100%;
    padding: 5% 0;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
main.active .btn-login {
    background-color: #a791e4;
    color: white;
    box-shadow: 0px 10px 40px -12px #2b134b;
}
.btn-login:hover {
    transform: translate(0px, -3px);
    transition: transform 0.5s;
}
